body, html {
  height: 100%;
  margin: 0;
}

.bg-image {
  background-image: url('https://github.com/PandaBarn/As-Builts/blob/main/panda.jpg'); /* Make sure you have the correct file path and extension */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px; /* Adjust to your preference */
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; /* Or any color that matches your design */
  text-decoration: none;
}

.nav-item .triangle {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid white; /* This will create a small white triangle */
  margin-bottom: 8px; /* Space between the triangle and the text */
}

.nav-item span {
  font-size: 16px; /* Adjust font size to your preference */
}
