body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-image {
  background-image: url('https://raw.githubusercontent.com/PandaBarn/As-Builts/main/panda.jpg'); /* Updated URL for direct image link */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Styles for the input with datalist */
#client-search {
  width: 200px; /* Makes the input field small */
  padding: 8px;
  margin: 0;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 16px;
  background-color: transparent; /* Makes the input field transparent */
  color: black; /* Text color */
  outline: none; /* Removes the default focus highlight */
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px; /* Adjust to your preference */
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; /* Or any color that matches your design */
  text-decoration: none;
}

.nav-item .triangle {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid white; /* This will create a small white triangle */
  margin-bottom: 8px; /* Space between the triangle and the text */
}

.nav-item span {
  font-size: 16px; /* Adjust font size to your preference */
}


