/* Base styles for the whole document */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('https://raw.githubusercontent.com/PandaBarn/As-Builts/main/panda.jpg'); /* Direct link to the image file */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigation and items styles */
.navigation {
  display: flex;
  flex-direction: column; /* Stacks the links vertically */
  justify-content: center;
  align-items: center;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
  margin: 20px 0; /* Adds space between the navigation items */
}

.nav-item .triangle {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid white; /* Creates a white triangle */
  margin-bottom: 8px; /* Space between the triangle and the text */
}

.nav-item span {
  font-size: 16px; /* Adjust as per your design needs */
}

/* Styles for the input with datalist */
#client-search {
  width: 200px; /* Adjust width as needed */
  padding: 8px;
  margin: 50px auto; /* Centers the input field vertically and horizontally */
  display: block;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 16px;
  background-color: transparent; /* Makes the input field transparent */
  color: black; /* Text color matches border */
  outline: none;
}
